<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.falconia.mangaproxy" android:versionCode="12"
	android:versionName="1.2.4 Beta">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.Black" android:name="App">
		<activity android:name="ActivityInit" android:label="@string/app_name"
			android:theme="@android:style/Theme.Black" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="ActivityFavoriteList" android:theme="@android:style/Theme.Black"
			android:screenOrientation="portrait" />
		<activity android:name="ActivityGenreList" android:theme="@android:style/Theme.Black"
			android:screenOrientation="portrait" />
		<activity android:name="ActivityMangaList" android:theme="@android:style/Theme.Black"
			android:screenOrientation="portrait" />
		<activity android:name="ActivityChapterList" android:theme="@android:style/Theme.Black"
			android:screenOrientation="portrait" />
		<activity android:name="ActivityChapter"
			android:theme="@android:style/Theme.Black.NoTitleBar" />
		<activity android:name="ActivityPreference" android:theme="@android:style/Theme.Black"
			android:screenOrientation="behind" />
		<activity android:name="ActivityChangelog" android:theme="@android:style/Theme.Black"
			android:screenOrientation="portrait" />
		<activity android:name="CrashActivity" android:theme="@android:style/Theme.Black"
			android:screenOrientation="portrait" />
		<activity android:name="DebugActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar" />
	</application>
</manifest>